footer
  div
    div.contact
      h4
        | CONTACTO
      .divider.mini
      p
        | Luz María Sánchez
        br
        | www.luzmariasanchez.com
    div.social
      a(href="#")
        div(class="twitter" )
      .v_divider
      a(href="#")
        div(class="facebook" )
      .v_divider
      a(href="#")
        div(class="instagram")
      
    div.top
      div
